# Development environment
# These are variables used by the code
NODE_ENV=development
MONGODB_URI=mongodb://root:example@localhost:27017

# Production environment
# These are translated into their equivilents
# in production by /scripts/deploy-env-vars.js
# NODE_ENV gets a value of `production` by Heroku automatically
PROD_MONGODB_URI=mongodb://username:password@host.mlab.com:43317

# Both environments
JWT_SECRET=themostimpressivesecretevar!
MAILGUN_API_KEY=apiKeyFromMailGun
ADMIN_USER_EMAIL=admin@tewharepiringa.nz
ADMIN_USER_PASSWORD=admin
TEST_USER_EMAIL=testuser@tewharepiringa.nz
TEST_USER_PASSWORD=testuser
